@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #fff9de;
    height: 50px;
}

#menuUsuario {
    height: 100%;
}

#menuUsuario #menu {
    width: 15%;
    height: 99%;
}

#menuUsuario #menu > span {
    padding: 3px;

}

#menuUsuario #opciones {
    width: 30%;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 5px #CCC;
    position: absolute;
}

#menuUsuario #opciones ul {
    margin: 10px;
    padding: 0 10px;
    list-style: none;
}

#menuUsuario #opciones ul li {
    padding: 5px 0;
}

.Right, .Left { top: 50px; }
.Right { right: 5px; }
.Left { left: 5px; }