#container {
    display: grid;
    justify-content: center;
}

#optionsList ul {
    clear: both;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#optionsList ul li {
    float: left;
}

#optionsList ul li a.unselected {
    padding: .3em;
    display: block;
    text-decoration: none;
    background-color: #F4F4F4;
    border: 1px 1px 1px 0 solid #7C7C7C;
}

.selected {
    background-color: #FFF;
    border-top: 1px;
    border-top-style: solid;
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-color: #CCC;
}

.selected, .unselected {
    padding: .3em;
    display: block;
    text-decoration: none;
    color: #333;
    border-radius: 5px 5px 0 0;
}

.optionContainer {
    border: 1px solid #CCC;
}

.optionContainerUnselected {
    display: none;   
}

.optionContainerSelected {
    display: block;   
}