#cMsj {
    width: 350px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

.cMsjExito {
    background-color: #2ED573;
    border: 1px solid #2ED573;
}

.cMsjError {
    background-color: #FF6B81;
    border: 1px solid #FF6B81;
}

.cMsjExito div, .cMsjError div {
    padding: 3px;
}

.cMsjExito div img, .cMsjError div img  {
    float: right;
    text-align: right;
}

/* ########## Clases ########## */
.TopLeft, .TopRight, .BottomLeft, .BottomRight { position: fixed; }
.TopLeft, .TopRight { top: 50px; }
.TopLeft, .BottomLeft { left: 10px; }
.TopRight, .BottomRight { right: 10px; }
.BottomLeft, .BottomRight { bottom: 50px; }