@charset "UTF-8";

* {
    font-family: monospace, sans-serif;
}

section {
    height: 500px;
    position: relative;
}

#rightContainer {
    width: 1095px;
}

header {
    margin-bottom: 2px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

nav {
    padding: 0px 8px;
}

#ordered, #unordered {
    display: inline;
    float: left;
    margin: 0px 20px;
}

header, #rightContainer, nav, footer {
    border: 1px solid #CCC;
    border-radius: 2px;
    margin: 2px;
}

#rightContainer, nav {
    height: 494px;
}

nav, #rightContainer {
    position: relative;
    float: left;
}

#rightContainer, section nav {
    display: inline;
}